* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #nav-bar{
    height: 9vh;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    
}
#div-nav{
    margin-right: 50px;
    
    ul{
        font-size: 21px;
        gap: 30px;
        color: black;
        
    }
}